{% extends 'layout.html' %}

{% block body %}
<div class="col-md-4 offset-md-4">
  <div class="card card-body">
  <p class="text-center">Editar contacto</p>
  <form action= "/update/{{contact.0}}" method="POST">
   <div class="form-group">
    <input type="text" name="fullname" placeholder="Nombre completo" value="{{ contact.1 }}" class="form-control">
   </div>
   <div class="form-group">
     <input type="text" name="phone" placeholder="Telefono" value="{{ contact.2 }}" class="form-control">
   </div>
   <div class="form-group">
     <input type="email" name="correo" placeholder="Email" value="{{ contact.3 }}" class="form-control">
   </div>
   <div class="form-group">
   <button type = "submit" class="btn btn-info btn-block">
    Guardar
   </button>
   </div>
   
  </form>

  </div>
</div>

{% endblock %}